/* ===== RESPONSIVE STYLE ===== */
@media (max-width:1700px) {
	.logo-wrap {
	    min-width: 11rem;
	}
}

@media (max-width:1600px) {
	.header__item .common-select, .cabinet {
	    margin-left: 2em;
	}
	.header__wrapper {
	    padding: 2em 0 2em 2em;
	}
	.first-screen {
	    padding: 10em 0;
	}
	.insta-bg-text {
		font-size: 22rem;
		top:0.7em;
	}
}

@media (max-width:1440px) {
	html {font-size: 0.7vw}
	.header-content {
	    padding: 0 20px;
	}
	.menu li {
	    margin: 0 1em;
	}
	.logo-wrap {
	    width: 10rem;
	}
	.header__wrapper {
	    padding: 2em 0 2em 1em;
	}
	.fs-form__title {
	    margin: 0 auto 2em;
	    width: 100%;
	}
	.fs-form {
	    padding: 3em;
	}
	.statistic-item {
	    width: 27.8rem;
	}
	.testimonials-slider .prev-slide {
		transform: translate(0, -50%);
	}
	.testimonials-slider .next-slide {
		transform: translate(0, 50%);
	}
	.seo-text {
	    max-height: 57rem;
	}
	.seo-title-item h2 {
	    font-size: 15rem;
	}
	.target-wrapper {
		width:95%;
		margin:0 auto;
	}
	.insta-bg-text {
		font-size: 20rem;
		top:0.8em;
	}
	.blog-card-img {
	    height: 30rem;
	}
	.page__aside {
	    width: 500px;
	}
	.first-screen-small {
		padding:7em 0 5em;
	}


}

@media (max-width:1366px) {
	.header-fixed-top .logo-wrap {
	    height: 100px;
	}

}

@media (max-width:1200px) {
	/* Mobile menu */
	.mobile-btn {width:49px;display:block;margin-left:20px;}
	.mobile-btn span{
		display: block;
		height: 2px;
		background-color: var(--white);
		border-radius: 2px;		
	}
	.mobile-btn span:not(:last-child){margin-bottom:7px;}
	.nav {
		position: fixed;
		display:flex;
		flex-direction: column;
		justify-content: space-between;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: hidden;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #F2F4F6;
		padding:0;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		z-index: 120;
		overflow-y:auto;
		border-radius: 0px 16px 16px 0px;
	}
	.nav.active{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
		width:90%;
	}
	.close-menu, .close-sub-menu, .close-cabinet-mobile {
		font-family: Open Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 13px;
		text-transform: uppercase;
		color: #2DA7CD;
		padding:15px 20px;
		border-bottom: 1px solid #E6E6E6;
		display: flex;
	}
	.close-cabinet-mobile {
		border-bottom:none;
		padding: 20px 0;
		position: absolute;
		top:0;
		right: 20px;
	}
	.close-menu-icon{
		position: relative;
		width: 25px;
		height: 25px;
	}	
	.close-menu-icon::before,
	.close-menu-icon::after{
		content: '';
		width: 100%;
		height: 1px;
		border-radius: 2px;
		background-color: #2DA7CD;
		position: absolute;
		left: 0;
		top: 50%;
	}
	.close-menu-icon::before{
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.close-menu-icon::after{
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.menu {flex-direction: column;}
	.menu li {margin: 0;border-bottom: 1px solid #E6E6E6;}
	.menu li a{
		font-size: 13px;
		text-transform:uppercase;
		color: var(--black);
		padding:15px 20px;
	}
	.mobile-menu__content {
		display:flex;
		flex-direction:column; 
		align-items: center;
		padding-bottom:40px;
	}
	/* // Mobile menu */

	.have-sub .select-arrow-icon {
	    color: #000;
	}
	.sub-menu-wrap {
	    background: #fff;
	    flex-direction: column;
	    overflow: visible;
	    position: fixed;
		display:block;
		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		visibility: hidden;
		top: 0;
		left: 0;
		height: 100%;
		background-color: #fff;
		padding:0;
		margin: 0;
		-webkit-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		overflow-y:auto;
		border-radius: 0px 16px 16px 0px;
	}
	.sub-menu-open .sub-menu-wrap {
	    -webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
		width:95%;
	}
	.sub-menu-open .nav::before {
		content:'';
		display:block;
		background: rgba(13, 32, 85, 0.52);
		position: absolute;
		width:100%;
		height:100%;
		z-index:1;
	}
	.sub-menu-open .menu {
	    z-index: auto;
	}
	.sub-menu {
	    flex-direction: column;
	    width: 100%;
	}
	.sub-menu li {
	    width: 100%;
	}
	.sub-menu li a {
	    border-bottom:none;
	    border-right:none;
	}
	.region-select, .language-select, .cabinet, .sub-menu::before, .logo-desctop {
		display:none;
	}
	.have-sub .icon {
		display:block;
		color:var(--blue);
		transform: rotate(-90deg);
	}
	.logo-mobile {
		display:block;
	}
	.logo-wrap {
		background: none;
		width:auto;
		padding:1em 0;
	}
	.header-content {
    	padding: 0 20px;
		align-items:center;
	}
	.analitic-item-fig, .analitic-item-icon-wrap {
		display:none;
	}
	.header-fixed-top .logo-wrap {
	    height: 80px;
	}
	.logo-wrap {
	    min-width: 0;
	}
	.result-block__item {
	    width: 40rem;
	    height: 40rem;
	}
	.result-block__item p {
	    font-size: 2rem;
	}
	.result-block__item span, .target-letter {
	    font-size: 5rem;
	}
	.page__aside {
	    width: 500px;
	}

			

}

@media (max-width:1024px) {
	.services-wrapper.four-column .block-item {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
}

@media (max-width:991px) {	

}

@media (max-width:768px) {
	html {font-size:10px;}

	br {display:none;}

	.sm-hide {display:none!important;}
	.sm-show {display:block!important;}
	.sm-show.flex {display:flex!important;}
	.first-screen__item {
		width:100%;
	}
	.first-screen__item h1 {
	    font-size: 4rem;
	    text-align: center;
	    width:100%;
	}
	.first-screen-list li {
	    flex-direction: column;
	    margin-bottom: 1.5em;
	    text-align: center;
	}
	.first-screen-list li::before {
	    margin: 0 0 20px 0;
	}
	.first-screen-list li:first-child::before, .fig-item::before, .fig-item::after {
	    display:none;
	}
	.first-screen {
	    padding: 10em 0;
	    height: auto;
	}
	.first-screen-small {
	    padding: 7em 0 5em;
	}
	.down::after {
	    margin: -15px 0 0 0;
	}
	.down {
	    left: calc(50% - 13px);
	    bottom:5em;
	}
	.statistic-block {
		flex-direction: column;
		width:33%;
	}
	.statistic-item {
		width:100%;
		height: 100%;
		margin-bottom: 30px;
	}
	.statistic-item:nth-child(2n) {
	    margin-top: 0;
	}
	.statistic-item p {
		height:6.5rem;
	}
	.section-head .h2 {
	    margin-bottom: 0;
	    width: 100%;
	    text-align: center;
	}
	.h1, h1 {
	    font-size: 4rem;
	}
	.h2, h2 {
	    font-size: 3rem;
	}
	.h3, h3 {
	    font-size: 3rem;
	}
	.section-head {
	    flex-direction: column;
	}
	.section-head p {
		width:50%;
		text-align: center;
	}
	.section-head.border {
	    padding-bottom: 0;
	    border-bottom: none;
	}
	.section {
	    padding: 4em 0;
	}
	.client-item {
	    min-width:300px;
	    padding: 50px;
	}
	.clients__wrapper {
	    overflow: scroll;
	    padding-bottom:30px;
	    border-bottom:none;
	}
	.clients__row:last-child {
		border-bottom: 1px dashed #DBDBDB;
	}
	.section-head {
	    margin-bottom: 3em;
	}
	.analitic__wrapper .section-title {
	    width: 100%;
	    text-align: center;
	    margin-bottom:2em;
	}
	.analitic__body {
	    width: 100%;
	}
	.analitic-item {
	    padding: 3em;
	}
	.analitic-item .h4 {
	    width: 100%;
	}
	.analitic__body__outer, .analitic__body__inner {
	    border: none;
	    padding: 0;
	}
	.why-we__item {
		width:100%;
		padding:2em 1em;
	}
	.why-we__wrapper {
		padding:0;
	}
	.why-we__item::before {
		transform: none;
	}
	.why-we-title {
	    width: 100%;
	}
	.services-wrapper.four-column .block-item {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.cases__wrapper.two-column .block-item {
	    flex: 0 0 85%;
	    min-width: 85%;
	}
	.case-item {
	    padding: 2em 1.5em;
	    margin-left: 0;
	    box-shadow: none;
	    overflow: hidden;
	}
	.cases__wrapper {
		padding-bottom:2.5em;
		overflow: auto;
	}
	.avatar-img {
	    height: 29rem;
	}
	.employer-info.mb-4 {
		margin-bottom:2rem;
	}
	.seo-wrapper.two-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom:30px;
	}
	.seo-title-item {
	    padding:0;
	}
	.seo-title-item h2 {
		font-size: 8rem;
		line-height: 0.9;
	}
	.seo-title-item h2 span {
		font-size: 2.7rem;
		line-height: 1.2;
	}
	.seo-text {
	    max-height: 51rem;
	    overflow: auto;
	    padding-right:30px;
	}
	.seo-text::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.seo-text::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.seo-text::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.seo-text::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.seo-text::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.faq-column {
		width:100%;
	}
	.faq-left-icon {
	    margin-right: 1em;
	}
	.faq-right-icon {
	    min-width: 51px;
	    height: 51px;
	}
	.faq__head {
	    padding: 1em;
	}
	.blog-card-img {
		height:25rem;
	}
	.blog-card__title {
	    font-size: 18px;
	}
	.feedback-item {
	    width: 100%;
	    padding: 0;
	}
	.feedback-wrapper {
	    margin: 0;
	    flex-direction: column-reverse;
	}
	.feedback-item-block {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.feedback .section-title {
	    margin: 0 0 1em;
	    text-align: center;
	}
	.feedback-item p {
	    text-align: center;
	}
	.contact-row .icon {
		display: none;
	}
	.contact-row {
		justify-content: center;
		margin-bottom: 1em;
	}
	.phone-row {
		flex-direction: column;
	}
	.phone-row a {
		padding:0;
		border:none;
		text-align: center;
		margin-bottom:10px;
	}
	.phone-row a:first-child {
	    padding:0;
	}
	.feedback-item-row {
		flex-direction: column;
		align-items: center;
	}
	.social {
		justify-content: center;
		margin-bottom: 20px;
	}
	.feedback::before {
		display: block;
	}
	.footer-wrapper.four-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	    justify-content: center;
	}
	.footer-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-nav {
	    padding-left: 0;
	    margin-bottom: 1em;
	}
	.footer-nav li, .footer-sevice-list li {
	    text-align: center;
	}
	.footer-bottom__wrapper {
		flex-direction: column;
		align-items: center;
	}
	.footer-bottom {
	    margin-top: 0;
	}
	.copyright {
		text-align: center;
	}
	.logo-big {
		width:80%;
	}
	.about p {
	    font-size: 1.8rem;
	    width: 100%;
	}
	.target-item {
	    width: 50%;
	    padding: 2em;
	}
	.target-item::before {
		transform: none;
	}
	.sertificats__column.w-40, .sertificats__column.w-50 {
	    width: 100%;
	}
	.sertificat__wrapper {
		margin-right:5px;
		min-width:750px;
	}
	.team-alt__wrapper.three-column .block-item {
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.insta-bg-text {
		font-size: 6rem;
		top:1.3em;
	}
	.header-fixed-top .logo-wrap {
	    height: auto;
	}
	.header__item .common-select, .cabinet {
	    margin-left: 1em;
	}
	.testimonials-slider {
		display:flex;
		overflow: auto;
		padding-bottom:60px;
	}
	.testimonials-slider .slide {
	    min-width: 300px;
	}
	.testimonial-video  {
		height: 220px;
	}
	.testimonial-video img {
	    height: 100%;
	    object-fit: cover;
	}
	.testimonial-item {
	    height: 100%;
	}
	.testimonials-slider::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.testimonials-slider::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.testimonials-slider::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.testimonials-slider::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.testimonials-slider::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.team-slider {
		display: flex;
    	overflow: auto;
	}
	.team-slider::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.team-slider::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.team-slider::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.team-slider::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.team-slider::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.blog-slider {
		display: flex;
	    overflow: auto;
	    padding-bottom: 50px;
	}
	.blog-slider::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.blog-slider::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.blog-slider::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.blog-slider::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.blog-slider::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.blog-slider .slide {
		min-width:480px;
	}
	.blog-card-row {
		flex-wrap: wrap;
	}
	.sertificat-slider {
		display: flex;
	    overflow: auto;
	    padding-bottom: 40px;
	}
	.sertificat-slider::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.sertificat-slider::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.sertificat-slider::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.sertificat-slider::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.sertificat-slider::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.sertificat-slider .slide {
	    padding:0;
	}
	.service-descript-acc {
	    width: 100%;
	    margin-bottom:30px;
	}
	.service-descript-total {
	    width: 100%;
	}
	.service__head {
	    padding: 1.5em;
	}
	.first-screen__text-item  {
	    width: 100%;
	    margin-bottom:30px;
	    padding: 0;
	}
	.first-screen__content {
	    margin:0;
	}
	.why-we-alt__wrapper.two-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom:20px;
	}
	.why-we-alt__wrapper {
	    margin: 0 -20px 20px;
	}
	.service-descript-head {
	    padding: 1.5em 2em;
	}
	.serv-descr__list li {
	    font-size: 16px;
	}
	.service-descript-total__body {
	    padding: 2em 1em;
	}
	.price-block__img {
	    width: 100%;
	}
	.price-block__content {
	    width: 100%;
	    padding: 2em 0 0;
	    background: #fff;
	}
	.price-block__item span {
	    font-size: 24px;
	}
	.testimonials .btn-container {
		margin-top:50px
	}
	.page-up {
	    right: 30px;
	    bottom: 30px;
	}
	.order-section-wrapper {
	    margin: 0 -10px;
	    flex-direction: column-reverse;
	}
	.order-section-item, .order-section .fs-form__wrapper {
	    width: 100%;
	}
	.order-section-item h2, .order-section-item .h2 {
		text-transform: uppercase;
	}
	.how-order__list li {
	    font-size: 16px;
	    text-transform: inherit;
	    margin-bottom: 0;
	    padding: 1em 0;
	}
	.fs-form__outer {
	    padding: 0;
	    border: none;
	}
	.fs-form__wrapper {
	    border:none;
	    padding:0;
	}
	.feedback .fs-form__wrapper {
	    width: 100%;
	}
	.how-order__list {
		margin-bottom:20px;
	}
	.case__wraper.two-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.page__content {
	    width: 100%;
	}
	.page__aside {
	    width: 100%;
	}
	.result-block__item {
	    width: 30rem;
	    height: 30rem;
	}
	.case-aside-row {
	    padding: 1em 0;
	    flex-direction: column;
	}
	.case-aside-row span, .case-aside-row p, .case-aside-row a {
		margin:5px 0;
	}
	.page__content p {
	    font-size: 18px;
	}
	.case-aside {
	    padding: 1.5em 2em;
	}
	.about-leader {
	    flex-direction: column;
	}
	.about-leader__body {
	    width: 100%;
	    padding: 3em 0;
	    flex-direction: column;
	}
	.about-leader__image {
	    transform: none;
	}
	.about-leader__video {
	    width: 100%;
	    height: auto;
	    margin-bottom:20px;
	}
	.about-leader__descript {
	    padding-left: 0;
	}
	.task {
	    width: 100%;
	    margin-bottom:30px;
	}
	.done-task {
	    width: 100%;
	}
	.works {
	    margin: 0;
	}
	.task-list li {
	    padding: 1.3em 0;
	    font-size: 16px;
	    min-height: 0;
	}
	.target-wrapper {
	    width: 100%;
	}
	.blog-wrapper .block-item {
	    margin-bottom: 2em;
	}
	.blog-bottom-row.two-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	    margin-bottom: 3em;
	    justify-content: center;
    	display: flex;
	}
	.subscribe {
	    padding: 2em;
	}
	.comments .section-head .h2 {
	    margin-bottom: 0;
	    text-align: left;
	}
	.comments .section-head p {
	    width: 100%;
	    text-align: left;
	}
	.comment-head-item {
		width: 100%;
	    justify-content: space-between;
	    flex-direction: row-reverse;
	}
	.coment-answer {
	    margin-left:0;
	}
	.comment-form, .article__head p {
	    width: 100%;
	}
	.first-screen-article {
		padding:10em 0 3em;
	}
	.article__head .blog-card-row {
	    margin-top: 3em;
	}
	.comments .section-head {
	    margin-bottom: 2em;
	    padding-bottom: 2em;
	}
	.coment-time {
	    font-size: 14px;
	}
	.comment-form .form--btn {
	    margin:0 auto;
	}
	.contacts-info {
	    width: 100%;
	    margin-bottom:30px;
	}
	.contacts-form__wrapper {
	    width: 100%;
	}
	.contacts-info__item .contact-row,	.contacts-info__item .social {
	    justify-content: flex-start;
	}
	.map__wrapper iframe {
		height:45rem;
	}
	.clients__wrapper-alt {
		overflow: visible;
	}
	.clients__wrapper-alt .clients__row {
		flex-wrap:wrap;
	}
	.clients__wrapper-alt .client-item {
	    min-width: 0;
	    width:50%;
	}
	.article__head h1 {
	    font-size: 3rem;
	}
	.comment-answer-link {
	    margin-left: 1em;
	}


	
}

@media (max-width:767px) {	
	.statistic-block {
	    width: 50%;
	}
	.section-head {
	    margin-bottom: 2em;
	}
	.h1, h1 {
	    font-size: 3.5rem;
	}
	.h2, h2 {
	    font-size: 3rem;
	}
	.h3, h3 {
	    font-size: 2.5rem;
	}
	.first-screen__item h1 {
	    font-size: 30px;
	    text-align: center;
	}
	.first-screen {
	    padding: 7em 0;
	    height: auto;
	}
	.logo-banner-wrapper {
	    margin-bottom: 2em;
	}
	.first-screen__item h1 {
	    font-size: 26px;
	}
	.clients__row .client-item:first-child {
	    border-left: 1px dashed #DBDBDB;
	}
	.clients__row .client-item:last-child {
	    border-right: 1px dashed #DBDBDB;
	}
	.analitic-item {
	    padding: 3em 20px;
	}
	.category__row li {
	    padding: 0 10px;
	    margin-bottom: 1em;
	    max-width: 50%;
	    flex: 0 0 50%;
	}
	.category__row li:last-child {
	    max-width: 100%;
	    flex: 0 0 100%;
	}
	.category__row {
		margin:0 -10px;
	}
	.category__row li a {
	    padding: 1em 0.8em;
	    font-size: 13px;
	}
	.services-wrapper.four-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.service-item {
	    padding: 1em;
	}
	.case-result-wrap {
	    width: 100%;
	}
	.case-result span {
	    font-weight: normal;
	    font-size: 24px;
	}
	.case-logo {
	    width: 50%;
	    margin: 0 auto 20px;
	}
	.case-item-row.mb-7 {
		margin-bottom:3em;
	}
	.case-descript {
	    font-size: 18px;
	    width: 100%;
	    margin-bottom:20px;
	}
	.case-item .btn {
	    width: 100%;
	}
	.lock-icon {
	    width: 121px;
	    height: 152px;
	}
	.docs-icon {
	    width: 96px;
	    height: 122px;
	}
	.desctop-icon {
	    width: 199px;
	    height: 138px;
	}
	.why-we-icon__wrap {
	    height: auto;
	    margin-bottom: 0;
	}
	.avatar-img {
	    height: 22rem;
	}
	.feedback .section-title {
	    margin: 0 0 1em;
	}
	.target-item {
	    width: 100%;
	}
	.target-letter {
		margin-bottom:0.3em;
		text-align: center;
	}
	.target-item p {
		text-align: center;
	}
	.target-item {
	    padding: 1em;
	}
	.first-screen h4 {
	    font-size: 18px;
	    font-weight: bold;
	}
	.first-screen__content .btn--blue {
		padding: 1.3em 10px;
		font-size: 14px;
	}
	.result-block__item p {
	    font-size: 11px;
	}
	.result-block__item span {
	    font-size: 3rem;
	}
	.result-block__item {
	    width: 196px;
	    height: 196px;
	    padding:1em;
	    margin:0 -1em;
	}
	.target-item.result {
	    padding: 3em;
	}
	.visual__wrapper {
		flex-wrap: nowrap;
		overflow: auto;
	}
	.visual__item.half, .visual__item {
	    min-width: 280px;
	}
	.visual__item__content {
	    height: 100%;
	}
	.visual__wrapper::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.visual__wrapper::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.visual__wrapper::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.visual__wrapper::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.visual__wrapper::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.common-section-text {
		max-height: 350px;
		overflow: auto;
		padding-right:30px;
	}
	.common-section-text::-webkit-scrollbar-button {
		background-repeat: no-repeat;
		width: 3px;
	}
	.common-section-text::-webkit-scrollbar-track {
		background-color: #fff;
		border-radius: 30px;
	}
	.common-section-text::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #2DA7CD;
	}
	.common-section-text::-webkit-resizer {
		background-repeat: no-repeat;
		width: 3px;
	}
	.common-section-text::-webkit-scrollbar {
		width: 3px;
		height:7px;
	}
	.case-page-logo {
	    height: 5rem;
	}
	.blog-wrapper.two-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
	.case__wraper .block-item {
	    margin-bottom: 1em;
	}




}

@media (max-width:640px) {	
	
}

@media (max-width:600px) {	
	.statistic-item {
	    width: 355px;
	}
	.statistic__wrapper {
		overflow: auto;
		flex-wrap: nowrap;
	}
	.statistic-block {
	    width: auto;
	}
	.team-alt__wrapper.three-column .block-item {
	    flex: 0 0 100%;
	    max-width: 100%;
	}
}

@media (max-width:480px) {	
	.client-item {
	    min-width: 280px;
   	    padding: 30px 40px;
   	    border: 1px dashed #DBDBDB;
   	    margin-right:20px;
	}
	.section-head p {
	    width: 100%;
	    text-align: center;
	}
	.first-screen-list li {
	    margin-bottom: 1em;
	    font-size: 12px;
	}
	.first-screen-list li::before {
	    margin: 0 0 1em 0;
	}
	.btn--blue {
		width:100%;
		min-width: 0;
	}
	.h1, h1 {
	    font-size: 3rem;
	}
	.h2, h2 {
	    font-size: 2.5rem;
	}
	.client-logo {
	    height: 8rem;
	}
	.section-head p {
	    font-size: 16px;
	}
	.testimonial__wrapper .testimonial-item {
		min-width:280px;
	}
	.team-column {
	    min-width: 330px;
	}
	.blog-wrapper .blog-card {
		min-width:280px;
	}
	.sertificat__wrapper {
		min-width:350px;
	}
	.vertical-img, .horisontal-img {
	    height: 10rem;
	}
	.sertificat-item {
	    padding: 0 10px;
	}
	.sertificat__wrapper {
	    margin: 0 10px 0 -10px;
	}
	.insta-bg-text {
		font-size: 5rem;
		top:1.2em;
	}
	.insta-mobile-item {
	    min-width: 280px;
	    height: 200px;
	}
	.instagram-section {
		padding:2em 0 3em;
	}
	.clients__wrapper {
	    border:none;
	}
	.clients__row {
	 	border:none;
	}
	.blog-slider .slide {
	    min-width: 300px;
	}
	.blog-card-img {
	    height: 20rem;
	}
	.why-we-alt__wrapper .common-img {
	    height: 20rem;
	}
	.price-block__img__text {
	    width: 90%;
	}
	.price-block__img__text .h3, .price-block__img__text h3 {
	    text-align: center;
	    margin:0;
	}
	.price-block__item span {
	    font-size: 22px;
	    text-align: center;
	}
	.price-block__item p {
	    margin-bottom: 1em;
	    text-align: center;
	}
	.price-block__content__head {
		margin-bottom:20px;
		flex-wrap: wrap;
	}
	.price-block__item {
		width:100%;
		margin-bottom:20px;
	}
	.price-block__subtitle {
	    text-align: center;
	}
	.price-block__list {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.price-block__list.marker-list li {
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.price-block__list.marker-list li:first-child::before {
	    display:none;
	}
	.fs-form, .feedback .fs-form {
	    padding: 2em 1.5em;
	}
	.bg-letter {
	    left: auto;
	    right: 5%;
	    font-weight: normal;
	}
	.case-filter {
		display: none;
	}
	.case-filter-mobile {
		display: flex;
	}
	.first-screen-small .first-screen__content h1 {
	    font-size: 3rem;
	}
	.first-screen-small {
		padding: 6em 0 4em;
	}
	.section {
	    padding: 3em 0;
	}
	.clients__wrapper-alt .client-item {
	    min-width: 0;
	    width:100%;
	    margin: 0;
	}
	.team-item__content {
	    padding: 1em;
	}
	.team__wrapper__col {
	    min-width: 270px;
	    margin-right: 20px;
	}
	.employer-info.mb-4 {
	    margin-bottom: 1rem;
	}

}

@media (max-width:320px) {	
	
}