/* ===== IMPORTED STYLE ===== */
@import url("jquery.fancybox.min.css");
@import url("animate.css");

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Arial';
	src: url('../fonts/Arial/ArialMT.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Arial';
	src:url('../fonts/Arial/Arial-BoldMT.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'PF Regal Display Pro';
    src: url('../fonts/RegalDisplay/PFRegalDisplayPro-Regular.woff2') format('woff2'), url('../fonts/RegalDisplay/PFRegalDisplayPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ===== IMPORTED STYLE END ===== */

/* ===== RESET STYLE ===== */
* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; margin:0; padding:0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, 
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, theadm tr, th, td, article, 
aside, canvas, details, embed, figure, figcaption, footer, header, main, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video  {
	font: inherit; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;}
article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section, body, main {display: block;}
sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ol[class], ul[class], ol li[class], ul li[class] {list-style: none;}
blockquote, q {quotes: none; }
blockquote::before, blockquote::after, q::before, q::after {content: none;}
table {border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);-webkit-tap-highlight-color: transparent;outline: none !important;}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {text-decoration: none;outline: none;}
body {-webkit-text-size-adjust: none;-webkit-overflow-scrolling: touch;}
input, button, select {border: none;outline: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::ms-expand {display: none;}
input::-ms-clear {display: none;}
img {display:block; max-width:100%;}
/* ===== RESET STYLE END ===== */

/* ===== Theme default ===== */
:root {
	--black: #000;
	--white: #fff;
	--blue: #2DA7CD;
	--gray: #E5E5E5;
	--text-color: #23292C;
	--font-opensans:'Open Sans';
	--font-arial:'Arial';
}
html {
	font-size:10px;
}
body {
    background: var(--white);
    font-weight: normal;
	font-family: var(--font-opensans), sans-serif;
	font-size: 1.6rem;
    letter-spacing: 0.1px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;	
    overflow-x: hidden;
	color: var(--black);
	display: block;
}
@media (max-width:768px) {
	body {
		font-family: var(--font-arial);
	}
}
.page-wrapper {
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

svg {width:100%;height:100%;display:block;}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

input, textarea {
	width:100%; 
	border:1px solid transparent;
	outline: none;
	resize: none;
}

section {width:100%;}

a {position:relative;color:inherit;transition:0.25s;}
a:hover {transition:0.25s;}

b, strong {font-weight:bold;}

.bold {font-weight:bold!important;}

p {line-height: 1.5;}

/* Flexbox */
.flex {display: flex;}
.inline-flex {display: inline-flex;}
.flex-wrap {flex-wrap: wrap;}
.flex-between {justify-content: space-between;}
.flex-column {flex-direction: column;}
.align-center {align-items: center}
.align-end {align-items: flex-end;}
.align-start {align-items: flex-start;}
.justify-center {justify-content: center;}
.justify-end {justify-content: flex-end;}
.justify-start {justify-content: flex-start;}
/* // Flexbox */

/* CSS Grid */
.grid {display:grid;}
.col-2 {grid-template-columns: repeat(2, 1fr);}
.col-3 {grid-template-columns: repeat(3, 1fr);}
.col-4 {grid-template-columns: repeat(4, 1fr);}
.col-5 {grid-template-columns: repeat(5, 1fr);}
.grid-col-1 {grid-column: span 1;}
.grid-row-1 {grid-row: span 1;}
.grid-col-2 {grid-column: span 2;}
.grid-row-2 {grid-row: span 2;}
.grid-col-3 {grid-column: span 3;}
.grid-row-3 {grid-row: span 3;}
.grid-col-4 {grid-column: span 4;}
.grid-row-4 {grid-row: span 4;}
.grid-col-5 {grid-column: span 5;}
.grid-row-5 {grid-row: span 5;}
/* // CSS Grid */

.svg-library {display:none;}

.container {
	width:100%;
	max-width:1560px;
	min-width:300px;
	margin:0 auto;
	padding:0 20px;
	position:relative;
}
.container-fluid {
	max-width:1860px;
}

.red {border:1px solid red;}
.blue {border:1px solid blue;}
.green {border:1px solid green;}

.mobile-btn {display:none;}

.noscroll {overflow: hidden;}

.mobile-menu__content {display:none;}

.text--uppercase {text-transform:uppercase;}

.text--center {text-align:center;}

.text--left {text-align:left;}

.text--right {text-align:right;}

.text--black {color:var(--black);}

.text--white {color:var(--white);}

.position-relative {position: relative;}

.position-absolute {position: absolute;}

.sm-show {display:none!important;}

.mt-1 {margin-top:1rem;}
.mt-2 {margin-top:2rem;}
.mt-3 {margin-top:3rem;}
.mt-4 {margin-top:4rem;}
.mt-5 {margin-top:5rem;}
.mt-6 {margin-top:6rem;}
.mt-7 {margin-top:6rem;}

.mb-1 {margin-bottom:1rem;}
.mb-2 {margin-bottom:2rem;}
.mb-3 {margin-bottom:3rem;}
.mb-4 {margin-bottom:4rem;}
.mb-5 {margin-bottom:5rem;}
.mb-6 {margin-bottom:6rem;}
.mb-7 {margin-bottom:7rem;}

.pt-1 {padding-top:1rem;}
.pt-2 {padding-top:2rem;}
.pt-3 {padding-top:3rem;}
.pt-4 {padding-top:4rem;}
.pt-5 {padding-top:5rem;}
.pt-6 {padding-top:6rem;}
.pt-7 {padding-top:7rem;}

.pb-1 {padding-bottom:1rem;}
.pb-2 {padding-bottom:2rem;}
.pb-3 {padding-bottom:3rem;}
.pb-4 {padding-bottom:4rem;}
.pb-5 {padding-bottom:5rem;}
.pb-6 {padding-bottom:6rem;}
.pb-7 {padding-bottom:7rem;}

/* Buttons */
.btn-container {
	width:100%;
	display:flex;
}
.btn {
	display:inline-flex;
	padding:1.3em 2em;
	background:none;
	position:relative;
	text-align:center;
	transition: 0.25s;
	border: 1px solid #2DA7CD;
	border-radius: 10px;
	color:var(--text--color);
	justify-content: center;
	text-transform: uppercase;
}
.btn:hover {
	cursor:pointer;
	transition: 0.25s;
	background: #2DA7CD;
	color:#fff;
}
.btn:active {
	background: #27819D;
	transition: none;
}
.btn--blue {
	background:var(--blue);
	color:#fff;
	min-width:30rem;
}
.btn--blue:hover {
	background: #27819D;
}

.btn--blue-alt {
	background:#00439D;
	color:#fff;
	border:1px solid #00439D;
}
.btn--blue-alt:hover {
	background: transparent;
	color:var(--text-color);
}
.form--btn {
	width:auto;
}
.btn-with-icon {
	display:inline-flex;
	align-items: center;
}

/* Icons */
.icon {display:block; color:inherit;}
.select-arrow-icon {
	width:10px;
	height:6px;
	color:#fff;
}
.desctop-icon {
	width:28.7rem;
	height:19.9rem;
	color:#00439D;
}
.docs-icon {
	width:14.1rem;
	height:17.7rem;
	color:#00439D;
}
.lock-icon {
	width:16.6rem;
	height:17.7rem;
	color:#00439D;
}
.service-icon {
	width:70px;
	height:70px;
	color:#00439D;
}
.facebook-icon {
	width:1.3rem;
	height:2.5rem;
	color:#ACC1DD;
}
.instagram-icon {
	width:2.2rem;
	height:2.1rem;
	color:#ACC1DD;
}
.youtube-icon {
	width:1.8rem;
	height:2.2rem;
	color:#ACC1DD;
}
.telegram-icon {
	width:2.2rem;
	height:1.9rem;
	color:#ACC1DD;
}
.phone-icon {
	width:13px;
	height:13px;
	color:#2DCDA7;
}
.map-icon {
	width:12px;
	height:17px;
	color:#2DCDA7;
}
.envelope-icon {
	width:16px;
	height:10px;
	color:#2DCDA7;
}
.check-icon {
	width:36px;
	height:36px;
	color:var(--blue);
}
.play-icon {
	width:12px;
	height:14px;
	color:#fff;
}
.btn-icon {
	margin-right:1em;
	width:25px;
	height:22px;
	color:var(--blue);
}
.btn--blue .btn-icon {
	color:#fff;
}
.blog-icon-1 {
	width:7px;
	height:10px;
	color:var(--blue);
}
.blog-icon-2 {
	width:11px;
	height:11px;
	color:var(--blue);
}
.blog-icon-3 {
	width:13px;
	height:15px;
	color:var(--blue);
}
.blog-icon-4 {
	width:14px;
	height:13px;
	color:var(--blue);
}
.blog-icon-5 {
	width:19px;
	height:10px;
	color:var(--blue);
}
.blog-icon-6 {
	width:10px;
	height:10px;
	color:var(--blue);
}
.share-icon {
	width:12px;
	height:14px;
	color:var(--blue);
}
.star-icon {
	width:17px;
	height:16px;
	color:#CACACA;
}
.skype-icon {
	width:22px;
	height:22px;
	color:var(--blue);
}

/* Titles */
.h1, h1 {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 6.4rem;
	display:block;
	margin-bottom:0.3em;
	line-height: 1.1;
}
.h2, h2 {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 4.8rem;
	line-height: 1.1;
	display:block;
	margin-bottom: 0.3em;
}
.h3, h3 {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 3.6rem;
	line-height: 1.3;
	display:block;
	margin-bottom: 0.5em;
}
.h4, h4 {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	display: block;
	line-height: 1.3;
	margin-bottom:1em;
}
.h5, h5 {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	display: block;
	line-height: 1.5;
	margin-bottom:1em;
}
.h6, h6 {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 1.6rem;
	display: block;
	line-height: 1.5;
	margin-bottom:1em;
}

/* Custom default style */
.block-wrapper {margin: 0 -10px;}
.block-item {padding:0 10px;}
.two-column .block-item {flex:0 0 50%;max-width:50%;}
.three-column .block-item {flex:0 0 33.33%;max-width:33.33%;}
.four-column .block-item {flex:0 0 25%;max-width:25%;}
.five-column .block-item {flex:0 0 20%;max-width:20%;}

/* ==================== ШАБЛОНЫ ======================*/

/* Slick Slider - Default Style */
.slick-slider {
	position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	overflow: hidden;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand; 
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); 
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
.slick-loading .slick-track {
	visibility: hidden; 
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	outline: none;
	display: none; 
}
.slick-initialized .slick-slide {
	display: block; 
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Slick Slider - Arrows */
.prev-slide,
.next-slide {
	flex: none;
	width: 8.5rem;
	height: 5.2rem;
	color: #fff;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	-webkit-transition: all .3s;
	transition: all .3s; 
	border-radius: 10px;
	border: 1px solid var(--blue);
}
.prev-slide:hover, .next-slide:hover {
	background:var(--blue);
}
.prev-slide:active, .next-slide:active {
	background:#27819D;
}
.prev-slide:hover svg, .next-slide:hover svg {
	color:#fff;
	transition: all .3s; 
}
.prev-slide svg, .next-slide svg {
	width: 7px;
	height: 14px; 
	color:#000;
	transition: all .3s; 
}

/* Slick Slider - Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px; 
}
.slick-dots {
	position: absolute;
	bottom: -25px;
	list-style: none;
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 100%; 
}
.slick-dots li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	padding: 0;
	cursor: pointer; 
}
.slick-dots li button {
	border: 0;
	background: #413680;
	display: block;
	height: 20px;
	width: 20px;
	outline: none;
	line-height: 0px;
	font-size: 0px;
	color: transparent;
	padding: 5px;
	cursor: pointer; 
}
.slick-dots li button:hover, .slick-dots li button:focus {
	outline: none; 
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
	opacity: 1; 
}
.slick-dots li.slick-active button{
	background: green;
}

/* Выпадающий список */
.select {
	position: relative;
	text-align: left;
	user-select: none;
	-webkit-touch-callout: none;
	font-weight: 400;
	margin: 0;
	outline: none;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	color: var(--black);
	display: inline-flex;
	align-items: center;
}
.select .placeholder {
	position: relative;
	background: transparent;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	padding: 0 1.5em 0 0;
	text-transform: uppercase;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	color:red;
}
.select .select-arrow-icon {
    position: absolute;
    right: 0;
    z-index: 0;
}
.select-left-icon {
    position: absolute;
    left: 0;
    z-index: 0;
}
.select.is-open .select-arrow-icon {
	transform: rotate(180deg);
	top: auto;
}
.select.is-open ul {
	display: block;
	border: 1px solid gray;
}
.select ul {
	display: none;
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	background: silver;
	border-radius: 2px;
	top: 100%;
	left: 0;
	list-style: none;
	margin: 5px 0 0 0;
	padding: 0;
	z-index: 4;
}
.select ul li {
	display: block;
	text-align: left;
	padding: 0.7em;
	color: var(--black);
	cursor: pointer;
	word-wrap: break-word;
	text-transform: uppercase;
	white-space: nowrap;
}
.select ul li:hover {
	background: pink;
	color: var(--white);
}
.select ul li:hover a {
	transition:none;
}

/* Popup  */
.popup-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(49, 49, 49, 0.62);
	z-index: 5;
	display: none;
}
.popup-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	visibility: hidden;
	z-index: 110;
	transition: all .3s;
	background: #f37d7d;
	padding: 2em;
	border-radius: 10px;
	width: 35em;
	min-width: 15em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.popup-window.active {
	transform: translate(-50%, -50%) scale(1);
	visibility: visible;
}
.close-popup {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: block;
	overflow: visible;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.close-popup::before, .close-popup::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	display: block;
	width: 20px;
	height: 1px;
	border-bottom: 1px solid #000;
	transform: rotate(45deg);
}
.close-popup::after {
	left: 0;
	transform: rotate(-45deg);
}
.popup-overlay.active {
	display: block;
}

/* Checkbox */
.checkbox-wrap input {display: none;}
.checkbox-wrap input:checked+label::before {
	background: url('../images/icons/check.svg');
	background-position: 5px 7px, 0 0;
	background-repeat: no-repeat, repeat;
	border: 1px solid #C9C9C9;
}
.checkbox-wrap label {
	display:flex;
	align-items: center;
}
.checkbox-wrap label:hover {cursor: pointer;}
.checkbox-wrap label::before {
	content: '';
	flex: none;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	border: 1px solid #C9C9C9;
	margin-right:1em;
}

/* ===== Theme default END ===== */

/* ===== Custom Styles =====*/
.header.header-fixed-top {
    animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: #0D2055;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header-fixed-top .logo-wrap {
    border-radius: 0;
    padding: 0;
    height: 110px;
}
.header-fixed-top .logo-wrap .logo-desctop {
    height: 70px;
}
.section {
	padding:5em 0;
}
.header	{
	width:100%;
	left:0;
	top:0;
	z-index: 1;
}
.header-content {
	padding:0 3em;
}
.header__wrapper {
	padding: 2em 0 2em 3em;
	flex: 1;
}
.logo-wrap {
	min-width:13.3rem;
	background:#fff;
	display:flex;
	align-items:center;
	justify-content: center;
	border-radius: 0 0 100px 100px;
	padding:2em 0;
}
.logo-mobile {
	display:none;
	min-width: 40px;
}
.logo-banner-wrapper {
	width:100%;
	margin-bottom:5em;
}
.menu li {
	margin:0 1.5em;
	position: relative;
}
.menu li a {
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	display: flex;
}
.menu li a:hover {
	color:var(--blue);
}
.sub-menu-open .menu-overlay {
	display:block;
}
.sub-menu-open .menu {
	z-index: 10;
}
.sub-menu {
	background:#fff;
	border-radius:10px;
	overflow: overlay;
}
.menu.active {
	z-index: 20;
}
.sub-menu-wrap {
	padding-top:10px;
	position: absolute;
	margin-top:10px;
	width: 60rem;
	overflow: hidden;
	display: none;
	z-index: 5;
}
.close-sub-menu {
	display:none;
}
.sub-menu-open .sub-menu-wrap {
	display: flex;
}
.sub-menu::before {
	content:'';
	display: block;
	position: absolute;
	background:#fff;
	width:10px;
	height:10px;
	top:5px;
	left:20px;
	transform: rotate(45deg);
}
.sub-menu li {
	width:50%;
	margin:0;
}
.sub-menu li a {
	color:var(--text-color);
	padding:1.3em;
	border-bottom: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
}
.sub-menu li:nth-child(2n) a {
	border-right: none;
}
.close-menu {
	display: none;
}
.have-sub .icon {
	margin-left:10px;
}
.cabinet {
	font-weight: 600;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #fff;
	margin-left:5em;
}
.cabinet.active {
	z-index: 10;
}
.cabinet-icon {
	width:4rem;
	height:4rem;
	border-radius:50%;
	border: 1px solid #2DA7CD;
	margin-left:1em;
}
.cabinet-icon span {
	display:block;
	width:4px;
	height:4px;
	border-radius: 50%;
	background: #C4C4C4;
}
.first-screen {
	height: 100vh;
}
.common-select .placeholder {
    color:#fff;
    font-size: 13px;
    font-weight: 600;
}
.common-select ul {
    background:#fff;
    font-size: 13px;
    font-weight: 600;
}
.common-select ul li:hover {
	background: var(--blue);
	color: var(--white);
}
.common-select ul {
	z-index: 10;
	margin-top:10px;
	overflow: visible;
	border-radius: 10px;
	border:none;
	width: 18rem;
	left:auto;
	right: 0;
	padding:0.5em;
}
.common-select ul li:hover {
	background: none;
	color:var(--blue);
}
.common-select ul li {
	padding:0.8em 1.2em;
}
.common-select ul::before {
	content: "";
	display:block;
	position: absolute;
	top:-2px;
	right:15px;
	width:5px;
	height:5px;
	background:#fff;
	transform: rotate(45deg);
	z-index: 0;
}
.common-select.active {
	z-index: 10;
}
.language-select ul {
	width: auto;
	padding: 0.5em 0;
}
.language-select ul li {
    padding: 0.8em;
}
.language-select ul::before {
    display: none;
}
.header__item .common-select {
	margin-left:5em;
}
.language-select .placeholder {
	background: #fff;
	border-radius: 50%;
	height:4rem;
	width:4rem;
	color: #23292C;
	text-align: center;
	padding:0;
	display: flex;
    justify-content: center;
}
.first-screen__content {
	margin:0 -10px;
}
.first-screen__item {
	width:50%;
	padding:0 10px;
}
.first-screen__item h1 {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 4.8rem;
	text-transform: uppercase;
	color: #FAFAFA;
	display:block;
	margin-bottom:1em;
	line-height: 1.1;
	width: 80%;
}
.first-screen h4 {
	color:#fff;
}
.first-screen__text-item p {
	color:#fff;
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
}
.first-screen__form-item {
	width:40%;
}
.first-screen__text-item {
	width:60%;
}
.first-screen__text-item {
	padding-right:2em;
}
.first-screen-list li {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	margin-bottom:1.7em;
	display: flex;
	align-items: center;
	line-height: 1.3;
}
.first-screen-list li::before {
	content:'';
	display: block;
	background: #2DA7CD;
	min-width:5px;
	height: 5px;
	margin-right:10px;
	border-radius: 50%;
}
.first-screen {
	padding:14em 0;
}
.first-screen-small {
	padding:8em 0 5em;
	height:auto;
}
.first-screen-small .first-screen__content h1 {
    margin-bottom:0;
    font-size: 4.8rem;
}
.input {
	background: #EFEFEF;
	border-radius: 10px;
	padding:1.2em;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	color: #23292C;
	border:1px solid transparent;
}
.input::placeholder {
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	color: #23292C;
}
.input:focus {
	border: 1px solid #2DA7CD;
}
.input.error {
	border: 1px solid #FF0000;
}
textarea.input {
	height:10rem;
}
.fs-form {
	background: #fff;
	border-radius: 10px;
	padding:5em 3em;
}
.fs-form__title {
	margin: 0 auto 3em;
	width:80%;
	font-weight: 600;
}
.fs-form .input-wrapper {
	margin-bottom:1.5em;
}
.fs-form__wrapper {
	border: 1px dashed rgba(255, 255, 255, 0.6);
	border-radius: 22px;
	padding:5px;
	position: relative;
}
.fs-form__outer {
	display:block;
	padding:13px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-radius: 18px;
}
.slogan-img {
	margin-right:3em;
}
.down {
	font-weight: 600;
	font-size: 13px;
	color: #fff;
	-webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    left:7em;
    bottom:3em;
}
.down::after {
	content:'';
	display:block;
	width:4px;
	height:4px;;
	border-radius: 50%;
	background: #fff;
	margin:5px;
}
.down-icon {
	width:26px;
	height:40px;
	border:1px solid #fff;
	border-radius:20px;
}
.login-wrapper {
	background: #fff;
	padding:3em;
	border-radius: 10px;
	margin:30px auto 2em;
	top:100%;
	right:0;
	width:55rem;
	z-index: 10;
}
.login-wrapper::before {
	content: "";
	display:block;
	position: absolute;
	top:-5px;
	right:15px;
	width:10px;
	height:10px;
	background:#fff;
	transform: rotate(45deg);
}
.login-wrapper.active {
	display:block;
}
.login-wrapper span {
	font-weight: 600;
	font-size: 2.4rem;
	text-transform: uppercase;
	text-align: center;
	display: block;
	margin-bottom:1.5em;
}
.login-wrapper .input-wrapper:not(:last-child) {
	margin-bottom:1.5em;
}
.login-wrapper .form--btn {
    margin: 2em auto 0;
}
.cabinet.active .cabinet-icon {
	z-index: 20;
	background: #fff;
	border:1px solid #fff;
}
.cabinet.active .cabinet-icon span {
	background: var(--blue);
}
.cabinet-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(15, 26, 55, 0.83);
	z-index: 5;
	display: none;
}
.cabinet-overlay.active {
	display: block;
}
.menu-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(15, 26, 55, 0.83);
	z-index: 5;
	display: none;
}
.menu-overlay.active {
	display: block;
}
.bg--gray {
	background: var(--gray);
}
.section-head {
	margin-bottom: 4em;
}
.section-head.border {
	padding-bottom: 3em;
	border-bottom: 2px dashed #38B1C9;
}
.section-head .h2 {
	margin-bottom:0;
}
.section-head p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 1.3;
	margin: 10px 0;
	width:25%;
}
.statistic__wrapper {
	margin:0 -10px;
}
.statistic-item {
	padding:0 10px;
	position: relative;
	width:30.8rem;
}
.statistic-num-outer {
	width:15rem;
	height:15rem;
	background:url(../images/figure/ellipse1.svg) no-repeat center center / contain;
	margin: 0 auto 2em;
}
.statistic-num-inner {
	background:url(../images/figure/ellipse2.svg) no-repeat center center / contain;
	width:11.9rem;
	height:11.9rem;
}
.statistic-num-inner .h2 {
	margin-bottom: 0;
}
.statistic-item p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 120%;
	text-align: center;
	color: #0D2055;
	overflow: hidden;
    background: #e5e5e5;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.statistic-item:nth-child(2n) {
	margin-top:11em;
}
.statistic__wrapper::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 3px;
}
.statistic__wrapper::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 30px;
}
.statistic__wrapper::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #2DA7CD;
}
.statistic__wrapper::-webkit-resizer {
	background-repeat: no-repeat;
	width: 3px;
}
.statistic__wrapper::-webkit-scrollbar {
	width: 3px;
	height:7px;
}
.fig-item::before {
	content:'';
	width:20.1rem;
	height:13.8rem;
	display: block;
	background:url(../images/figure/fig1.svg) no-repeat center center / contain;
	position: absolute;
	left: -50%;
    bottom: 1em;
}
.fig-item::after {
	content:'';
	width:20.1rem;
	height:13.8rem;
	display: block;
	background:url(../images/figure/fig2.svg) no-repeat center center / contain;
	position: absolute;
	right: -50%;
    bottom: 1em;
}
.client-item {
	width:20%;
	padding: 2em 1em;
	display:flex;
	align-items: center;
	justify-content: center;
	border-right: 1px dashed #DBDBDB;
	border-bottom: 1px dashed #DBDBDB;
}
.client-item:last-child {
	border-right:none;
}
.clients__row:not(:last-child) {
	border-bottom: 1px dashed #DBDBDB;
}
.clients__wrapper {
	border-top: 1px dashed #DBDBDB;
	border-bottom: 1px dashed #DBDBDB;
}
.client-logo {
	height:10rem;
	width: 70%;
}
.client-logo img {
	height:100%;
	width: 100%;
	object-fit: contain;
}
.clients__wrapper::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 3px;
}
.clients__wrapper::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 30px;
}
.clients__wrapper::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #2DA7CD;
}
.clients__wrapper::-webkit-resizer {
	background-repeat: no-repeat;
	width: 3px;
}
.clients__wrapper::-webkit-scrollbar {
	width: 3px;
	height:7px;
}
.cabinet-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: #fff;
    padding:0 20px;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;

	display: flex;
    flex-direction: column;
    justify-content: center;
}
.cabinet-mobile-title {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 2.4rem;
	text-align: center;
	text-transform: uppercase;
	display:block;
	margin-bottom:2em;
}
.cabinet-mobile .input-wrapper {
	margin-bottom:1.5em;
}
.cabinet-mobile .input-wrapper:last-child {
	margin-top:2.5em;
}
.login-mobile {
	text-align-center;
	display:block;
	text-transform: uppercase;
	font-style: 14px;
	border-bottom:1px solid var(--blue);
	margin-bottom:40px;
}
.mobile-social li {
	margin:0 5px;
}
.mobile-social li a {
	min-width:40px;
	height:40px;
	border-radius: 50%;
	border: 1px solid #B2BECF;
	display:flex;
	justify-content: center;
	align-items: center;
}
.cabinet-mobile-open .cabinet-mobile {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
}
.analitic {
	padding:7em 0;
}
.analitic__body {
	width:60%;
}
.analitic__body__outer {
    border: 1px dashed rgba(255, 255, 255, 0.6);
    border-radius: 22px;
    padding: 5px;
    position: relative;
}
.analitic__body__inner {
    display: block;
    padding: 13px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 18px;
}
.analitic-item {
	background:#fff;
	border-radius: 10px;
	padding:4em 9em;
}
.analitic-item .h4 {
	width:80%;
	margin:0 auto 1em;
}
.slogan {
	bottom:0;
	left:50%;
	transform: translateX(-50%);
}
.analitic-item-fig {
	left:0;
	top:50%;
	transform: translateY(-50%);
}
.analitic-item-icon-wrap {
	left:0;
	top:50%;
	transform: translate(-50%, -50%);
}
.analitic-item-icon {
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.analitic__wrapper .section-title {
	width:33%;
}
.category__row {
	margin:0 -1em;
}
.category__row li {
	padding:1em;
}
.category__row li a {
	padding:1.2em;
	border:1px solid var(--blue);
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
	text-align: center;
	color: #0D2055;
	display: block;
}
.category__row li a:hover {
	cursor:pointer;
	transition: 0.25s;
	background: #2DA7CD;
	color:#fff;
}
.comment-like .icon {
	flex:none;
}
.comment-answer-link:first-child {
	margin-left: 0;
}
.testimonial-item {
	padding:2em 15px;
	background: rgb(255,255,255,0.7);
    border-radius: 13px;
    backdrop-filter: blur(5px);
}
.testimonials-slider .slick-list {
	padding:6em 0!important;
	margin:0 -5px;
	height: 63rem;
}
.testimonials-slider .slide{
	padding:0 5px;
}
.testimonial-video img {
	width:100%;
	object-fit: cover;
	border-radius: 10px;
	max-height: 30rem;
}
.testimonials-slider .slick-slide.slick-current, .testimonials-slider .slick-slide.slick-center {
    transform: scale(1.5);
    z-index: 2;
    transition: 0.3s;
    border: 1px dashed #2DA7CD;
    border-radius: 20px;
    padding:5px;
}
.testimonials-slider .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}
.testimonials-bg-img {
	right:0;
	z-index: 0;
	top:0;
}
.testimonials {
	overflow: hidden;
}
.play-btn {
	width:12.7rem;
	height:12.7rem;
	display:flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #00439D;
	border-radius: 50%;
	padding:10px;
	position: absolute;
	bottom:0;
	left:50%;
	transform: translate(-50%, 70%) scale(0.6);
	z-index: 1;
	transition: 0.25s;
}
.play-btn-inner {
	width:100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--blue);
	transition: 0.25s;
	border:1px solid var(--blue);
}
.play-btn:hover .play-btn-inner {
	background: #fff;
	transition: 0.25s;
}
.play-btn:hover .play-btn-inner .icon {
	color: var(--text-color);
	transition: 0.25s;
}
.testimonials-slider .slick-slide.slick-current .play-btn {
    bottom:50%;
	left:50%;
	transform: translate(-50%, 50%) scale(0.7);
	border: 1px dashed #FFFFFF;
}
.testimonials-slider .slick-slide.slick-current .play-btn .play-btn-inner {
    background: rgba(45, 167, 205, 0.17);
    border:none;
}
.testimonials-slider .slick-slide.slick-current .play-btn:hover .play-btn-inner .icon {
    color:#fff;
}
.testimonials-slider .prev-slide, .testimonials-slider .next-slide {
    background-color: #fff;
    border:1px solid var(--blue);
    position: absolute;
    z-index: 1;
}
.testimonials-slider .prev-slide {
	top:45%;
	left:0;
	transform: translate(-50%, -50%);
}
.testimonials-slider .next-slide {
	bottom:55%;
	right:0;
	transform: translate(50%, 50%);
}
.testimonials-slider .prev-slide svg, .testimonials-slider .next-slide svg {
    color: var(--text-color);
}
.testimonials-slider .prev-slide:hover, .testimonials-slider .next-slide:hover {
    background-color: var(--blue);
}
.testimonials-slider .prev-slide:active, .testimonials-slider .next-slide:active {
    background-color: #27819D;
}
.testimonials-slider .prev-slide:hover svg, .testimonials-slider .next-slide:hover svg {
    color: #fff;
}
.testimonials-slider .slick-slide.slick-current .testimonial-item {
	box-shadow: 4px 10px 40px rgba(0, 0, 0, 0.13);
}
.why-we__item {
	width:33.3%;
	padding:3em;
	position: relative;
}
.why-we__item::before {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	border: 1px dashed #2DA7CD;
	border-radius: 12px;
	top:0;
	left:0;
	transform: skewX(-10deg);
	z-index: -1;
	transition: 0.25s;
}
.why-we__item:hover::before  {
	background: #2DA7CD;
	transition: 0.25s;
}
.why-we__item:hover .icon, .why-we__item:hover p, .why-we__item:hover .why-we-title  {
	color:#fff;
}
.why-we__item:hover .why-we-icon__wrap::before {
	background: rgba(232, 242, 255, 0.13);
}
.why-we__item__content .icon {
	margin:0 auto 2em;
}
.why-we-title {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	text-transform: uppercase;
	display:block;
	margin-bottom:1em;
	width:74%;
	line-height: 1.3;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.why-we-icon__wrap {
	height:20rem;
	margin-bottom:1.5em;
	position: relative;
}
.why-we-icon__wrap::before {
	content:'';
	display:block;
	width:8rem;
	height:8rem;
	border-radius: 50%;
	background: #E8F2FF;
	top:0;
	left:3em;
	position: absolute;
	z-index: -1;
}

.why-we__item__content p {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #2C2C2C;
}
.why-we__wrapper {
	padding:0 5em;
}
.dot-icon {
	width:37px;
	height:37px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 1px solid #2DA7CD;
	margin-right:20px;
	transition: 0.25s;
}
.dot-icon span {
	width:5px;
	height:5px;
	border-radius: 50%;
	background: #00439D;
	transition: 0.25s;
}
.service-item {
	background: #fff;
	padding:2em;
	border-radius: 10px;
	margin-bottom:20px;
	transition: 0.25s;
	display:block;
}
.service-item .btn {
	font-weight: bold;
	font-size: 1.3rem;
	padding:0.8em 0.9em;
	border-radius: 5px;
}
.service-title {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	display:block;
	line-height: 1.2;
	transition: 0.25s;
}
.service-item:hover {
	background: var(--blue);
	transition: 0.25s;
}
.service-item:hover .dot-icon {
	border: 1px solid #fff;
	transition: 0.25s;
}
.service-item:hover .dot-icon span {
	background: #fff;
	transition: 0.25s;
}
.service-item:hover .service-title, .service-item:hover .icon {
	color: #fff;
	transition: 0.25s;
}
.service-item:hover .btn {
	color:#fff;
	border:1px solid #fff;
}
.services-wrapper.two-column .service-item {
	padding:1em 2em;
}
.more-blocks .services-wrapper .sm-hide {
	display:block!important;
}
.show-more span:last-child {
	display: none;
}
.show-more.active span:last-child {
	display: flex;
}
.show-more.active span:nth-child(2) {
	display: none;
}
.btn.text--white {
	color:#fff;
}
.case-item {
	background: linear-gradient(360deg, #2DCDA7 -98.37%, rgba(45, 205, 167, 0) 105.56%), #00439D;
	padding:2em 3em;
	margin-left:20px;
	box-shadow: -7px 7px 0 rgba(0, 67, 157, 0.4);
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.25s;
}
.case-item.case-empty {
	justify-content: center;
}
.case-item.white-bg {
	background: #fff;
}
.white-bg .case-result p, .white-bg .case-result span {
    color: var(--blue);
    transition: 0.25s;
}
.white-bg .case-descript {
    color: var(--text-color);
}
.white-bg.case-item .btn {
    background: #2DA7CD;
    color:#fff;
}
.white-bg .bg-letter {
    color: rgba(45, 167, 205, 0.11);
}
.case-item.white-bg:hover {
	background: linear-gradient(360deg, #2DCDA7 -98.37%, rgba(45, 205, 167, 0) 105.56%), #00439D;
	transition: 0.25s;
}
.case-item.white-bg:hover .case-result p, .case-item.white-bg:hover .case-result span, .case-item.white-bg:hover .case-descript {
	color:#fff;
	transition: 0.25s;
}
.case-item.white-bg:hover .bg-letter {
	color: rgba(255, 255, 255, 0.17);
}
.case-item.white-bg:hover .btn {
	background: #fff;
	color:var(--text--color);
	transition: 0.25s;
}
.case-item.white-bg .logo-color {
	display:block;
}
.case-item.white-bg .logo-white {
	display:none;
}
.case-item.white-bg:hover .logo-color{
	display:none;
}
.case-item.white-bg:hover .logo-white {
	display:block;
}
.case__wraper .block-item {
	margin-bottom:3em;
}
.case-empty {
	background: #00439D;
	height:100%;
}
.case-empty span {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top:20px
}
.case-result p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	margin-bottom:5px;
}
.case-result span {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	color: #fff;
	display:block;
}
.case-descript {
	font-size: 2.4rem;
	color: #fff;
	width:60%;
	line-height: 1.3;
}
.case-item .btn {
	font-weight: bold;
	font-size: 13px;
	padding:0.8em 0.9em;
	border-radius: 5px;
	background: #fff;
}
.case-item .btn:hover {
	color:var(--blue);
}
.case-filter-mobile {
	border:1px solid var(--blue);
	border-radius: 10px;
	margin-bottom:3em;
	display: none;
}
.case-filter-mobile .placeholder {
	padding:1.3em;
	font-weight: bold;
	font-size: 14px;
	color:var(--text-color);
}
.case-filter-mobile ul li {
    font-size: 14px;
}
.case-filter-mobile .select-arrow-icon {
    right: 1em;
    color:var(--text-color);
}
.bg-letter {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 28.8rem;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.17);
	display: block;
	bottom:0;
	left:10px;
	z-index: 0;
	line-height: 0.7;
}
.case-logo {
	width: 20%;
}
.case-logo img {
	width: 100%;
	object-fit: contain;
}
.cases__wrapper.two-column .block-item {
	padding:0 15px;
}
.cases__wrapper {
	margin:0 -15px;
}
.cases__wrapper::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 3px;
}
.cases__wrapper::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 30px;
}
.cases__wrapper::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #2DA7CD;
}
.cases__wrapper::-webkit-resizer {
	background-repeat: no-repeat;
	width: 3px;
}
.cases__wrapper::-webkit-scrollbar {
	width: 3px;
	height:7px;
}
.case-item-under {
	display:block;
	position: absolute;
	width:93%;
	height:100%;
	z-index:0;
	border: 1px dashed #2DA7CD;
	top:15px;
	left:17px;
}
.case-result-wrap {
	width:50%;
}
.team-item__content {
	padding:1.5em 1em;
}
.employer-name {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	text-align: center;
	text-transform: uppercase;
	display:block;
	margin-bottom:5px;
}
.employer-name:hover {
	color:var(--blue);
}
.employer-post {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	text-align: center;
	text-transform: uppercase;
	display:block;
	color:gray;
}
.employer-social li {
	margin:0 5px;
}
.employer-social li a {
	width:3.9rem;
	height:3.9rem;
	border-radius:50%;
	border: 1px solid #A1B7D3;
	display:flex;
	justify-content: center;
	align-items: center;
}
.employer-social li a:hover {
	border: 1px solid var(--blue);
}
.employer-social li a:hover .icon {
	color: var(--blue);
}
.employer-link {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	text-decoration: underline;
	color: #2DA7CD;
	text-align: center;
	margin:20px auto 0;
	display: table;
}
.team-slider .slide {
	padding:0 10px;
}
.team-slider .slick-list {
	margin: 0 -10px;
	overflow: visible;
}
.team-slider-arrows {
	margin-left:5rem;
}
.team-slider-arrows .prev-slide, .team-slider-arrows .next-slide {
    background: none;
    margin-left:20px;
}
.team-slider-arrows .prev-slide:hover, .team-slider-arrows .next-slide:hover {
    background:var(--blue);
}
.team-slider-arrows .prev-slide:active, .team-slider-arrows .next-slide:active {
    background:#27819D;
}
.team-slider-arrows .next-slide.slick-disabled {
	background: var(--gray);
	pointer-events: none;
}
.team {
	overflow: hidden;
}
.avatar {
	border:1px solid var(--blue);
	border-radius: 13px;
	padding:5px;
	display: block;
}
.avatar-img {
	height:36.5rem;
	position: relative;
}
.avatar-img::before {
	content:'';
	display:block;
	position: absolute;
	width:100%;
	height: 100%;
	background: rgba(15, 26, 55, 0.3);
	opacity: 0;
	transition: 0.25s;
}
.avatar:hover .avatar-img::before {
	opacity: 1;
	transition: 0.25s;
}
.avatar-img img {
	height:100%;
	width:100%;
	object-fit: cover;
	border-radius: 10px;
	object-position: top;
}
.team-column {
	margin-right:20px;
	min-width:300px;
}
.seo-content h3, .seo-content .h3 {
	color:#fff;
	margin-bottom:1em;
}
.seo-content h4, .seo-content .h4 {
	color:#fff;
	margin-bottom:1em;
}
.seo-content p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 146%;
	color: #fff;
	margin-bottom:1em;
}
.seo-title-item h2 {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 18.8rem;
	display:block;
	line-height: 1.1;
	color:#fff;
	text-transform: uppercase;
}
.seo-title-item h2 span {
	font-size: 0.35em;
	display:block;
}
.seo-title-item {
	padding:7em 0 0 0;
}
.btn--more-text img {
	margin-left:20px;
}
.btn--more-text span:nth-child(2) {
	display:none;
}
.btn--more-text.active span:nth-child(2) {
	display:block;
}
.btn--more-text.active span:first-child {
	display:none;
}
.btn--more-text.active img {
	transform: rotate(180deg);
}
.seo-text {
	max-height:52rem;
	overflow: hidden;
	transition: all 0.3s;
}
.text-open .seo-text {
	max-height:1000px;
	transition: all 0.3s;
}
.faq-column {
	width:50%;
	padding:0 10px;
}
.faq-item {
	margin-bottom:20px;
}
.faq__wrapper {
	margin:0 -10px;
}
.faq__head {
	padding: 1.5em;
}
.faq__head:hover {
	cursor: pointer;
}
.faq-left-icon {
	margin-right:2em;
	border: 1px solid rgba(0, 0, 0, 0.07);
	min-width:7.2rem;
	height:7.2rem;
	display:flex;
	justify-content: center;
	align-items: center;
	padding:5px;
	border-radius: 50%;
}
.faq-left-icon__inner {
	border-radius: 50%;
	border: 1px solid #2DA7CD;
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #0D2055;
	width: 100%;
    height: 100%;
}
.faq-question {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
}
.faq-right-icon {
	border: 1px solid rgba(0, 0, 0, 0.07);
	min-width:7.2rem;
	height:7.2rem;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.faq-right-icon {
	color:var(--blue);
}
.faq-acc {
	background: #fff;
	border: 1px dashed #2DA7CD;
	border-radius: 10px;
}
.faq__body {
	padding:0 1.5em 1.5em;
	display: none;
}
.faq__head.active .faq-right-icon__inner span:first-child {
	display:none;
}
.faq__head.active .faq-right-icon__inner span:last-child {
	display:block;
}
.faq__head .faq-right-icon__inner span:last-child {
	display:none;
}
.blog-card__title {
	display:inline-block;
	font-weight: 600;
	font-size: 3.0rem;
	color: #000;
	line-height: 1.3;
	margin-bottom:0.8em;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.blog-card__title:hover {
	color:var(--blue);
}
.blog-section {
	overflow: hidden;
}
.blog-slider .slide {
	padding:0 10px;
}
.blog-slider .slick-list {
	margin:0 -10px;
	overflow: visible;
}
.blog-slider-arrows {
	margin-left:5rem;
}
.blog-slider-arrows .prev-slide, .blog-slider-arrows .next-slide {
    margin-left:20px;
}
.blog-slider-arrows .prev-slide:hover, .blog-slider-arrows .next-slide:hover {
    background:var(--blue);
}
.blog-slider-arrows .prev-slide:active, .blog-slider-arrows .next-slide:active {
    background:#27819D;
}
.blog-slider-arrows .next-slide.slick-disabled {
	background: var(--gray);
	pointer-events: none;
}
.blog-card-img {
	height:45rem;
	margin-bottom:2em;
	display: block;
}
.blog-card-img img {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 13px;
}
.blog-card-info {
	margin-right:2em;
	margin: 5px 1em 5px 0;
}
.blog-card-info .icon {
	margin-right:10px;
	flex: none;
}
.blog-card-info p {
	font-size: 12px;
	color: #000;
}
.blog-wrapper .blog-card-info p {
	font-size: 12px;
	margin-bottom:0;
	line-height: 1;
}
.blog-wrapper .blog-card-info {
    margin-right: 1em;
}
.blog-wrapper .block-item {
	margin-bottom:3em;
}
.bg-letter-img {
	top:0;
	right:0;
	height:100%;
	z-index: 0;
	display:flex;
}
.feedback-wrapper {
	margin:0 -10px;
}
.feedback-item {
	padding:0 10px;
	width:50%;
}
.feedback {
	overflow: hidden;
	position: relative;
}
.feedback::before {
	content:'';
	display: none;
	position: absolute;
	width:100%;
	height:100%;
	background: linear-gradient(0deg, rgba(1, 29, 67, 0.71), rgba(1, 29, 67, 0.71));
	top:0;
	left:0;
}
.feedback .fs-form__wrapper {
    width: 80%;
}
.feedback .fs-form__wrapper .fs-form__title {
    margin: 0 auto 2em;
}
.feedback .fs-form {
    padding:3em;
}
.feedback-item p {
	font-family:var(--font-arial);
	font-style: normal;
	font-size: 1.8rem;
	color: #FFF;
	margin-bottom:1em;
}
.phone-row a {
	display:inline-block;
	padding: 0 10px;
	border-right:2px solid #2DA7CD;
	color:#fff;
}
.phone-row a:last-child {
	border-right:none;
}
.phone-row a:first-child {
	padding:0 10px 0 0;
}
.contact-row a:hover {
	color:var(--blue);
}
.contact-row a {
	color:#fff;
}
.social li {
	margin:0 5px;
}
.social li a {
	width: 39px;
	height:39px;
	border:1px solid #fff;
	border-radius: 50%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.social li a:hover {
	border:1px solid var(--blue);
	color:var(--blue);
}
.social li a:hover .icon {
	color:var(--blue);
}
.social li a .icon {
	color:#fff;
}
.feedback .section-title {
	margin-bottom:0.5em;
}
.city-select {
    background: var(--blue);
    border-radius: 13px;
    margin-bottom:2em;
}
.city-select .select-arrow-icon {
    right: 20px;
}
.city-select .placeholder {
	color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.8em 4em 0.8em 3em;
}
.city-select ul {
	background: #fff;
}
.city-select ul li:hover {
    background: var(--blue);
    color: var(--white);
}
.city-select ul li {
    font-size: 1.4rem;
}
.contact-row p {
	margin:0;
}
.contact-row .icon {
	margin-right:10px;
}
.feedback-info {
	padding:0em 10em 0 0;
}
.feedback-item .btn--blue {
	font-size: 14px;
	padding: 1.3em 10px;
}
.footer {
	padding:4em 0 0;
	background: #DFE6F0;
}
.breadcrumb {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom:2em;
}
.breadcrumb li {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	color: #6A6A6A;
	display: flex;
    align-items: center;
}
.breadcrumb li a:hover {
	color: var(--blue);
}
.breadcrumb li:not(:last-child)::after {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	border-right:1px solid #2DA7CD;
	border-bottom:1px solid #2DA7CD;
	margin: 0 1em 0 1em;
	transform: rotate(-45deg);
}
.footer-logo {
	margin-bottom:2em;
	display:block;
}
.copyright {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 146%;
	color: #636363;
}
.footer-nav li {
	margin-bottom:2em;
	font-weight: 600;
	font-size: 13px;
	text-transform: uppercase;
	color: #23292C;
}
.footer-nav li a:hover, .footer-contact a:hover {
	color:var(--blue);
}
.footer-nav {
	padding-left:3em;
}
.footer-link {
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #23292C;
	padding-bottom:5px;
	border-bottom:1px solid var(--blue);
	display: inline-block;
	margin-bottom:10px;
}
.footer-sevice-list li {
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 1.5;
	color: #23292C;
	margin-bottom:10px;
}
.footer-link:hover, .footer-sevice-list a:hover {
	color:var(--blue);
}
.footer-sevice-list a:hover {
	text-decoration: underline;
}
.tab_content {
	display: none;
}
.tab___cont__content {
	display: none;
}
.tab-link.active {
	border: 1px solid var(--blue);
}
.tab-link {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #23292C;
	padding:0.8em;
	margin:0 3px;
	border-radius: 10px;
	border:1px solid transparent;
	display: flex;
	width:10rem;
	text-align: center;
	justify-content: center;
	position: relative;
}
.tab-link::after {
	content:'';
	display:block;
	width:1px;
	height:20px;
	background: #23292C;
	margin-left:1em;
	position: absolute;
	right:-4px;
}
.tab-link:last-child::after {
	display:none;
}
.tab-link:hover {
	cursor: pointer;
}
.tabs {
	margin:0 -1.5em 1em;
}
.footer-contact .icon {
	margin-right:10px;
}
.footer-phone a {
	display:block;
	margin-bottom:0.5em;
}
.footer-bottom {
	padding:2em 0;
	margin-top:2em;
}
.politic-link {
	font-weight: normal;
	font-size: 1.4rem;
	color: #8F8F8F;
}
.politic-link:hover {
	color:var(--blue);
}
.footer-bottom .social a {
	border:1px solid #B2BECF;
}
.footer-bottom .social a .icon {
	color:#B2BECF;
}
.footer-bottom .cabinet-icon {
	border: 1px solid #2DA7CD;
}
.footer-bottom .cabinet-icon span {
	background: #23292C;
}
.cabinet-link {
	font-weight: 600;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #23292C;

	opacity: 0;
	visibility: hidden;
}
.cabinet-icon {
	width:4rem;
	height:4rem;
	border-radius:50%;
	border: 1px solid #2DA7CD;
	margin-left:1em;
}
.cabinet-icon span {
	display:block;
	width:4px;
	height:4px;
	border-radius: 50%;
	background: #C4C4C4;
}
.overlay .cabinet-overlay {
	display:block;
}
.page-up {
	width:49px;
	height:49px;
	border-radius:50%;
	background: #2DA7CD url(../images/icons/arrow-top.svg) no-repeat center center;  
	display:flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 50px;
	bottom:50px;
	z-index: 1;
	display:none;
}
.page-up:hover {
	cursor: pointer;
}
.first-screen-common {
	padding:13em 0;
	height: auto;
}
.first-screen__content h1 {
	text-transform: uppercase;
	color:#fff;
	margin-bottom:1em;
}
.about p {
	font-family: var(--font-arial);
	font-weight: normal;
	font-size: 2.4rem;
	text-align: center;
	width:80%;
	margin:0 auto 1em;
}
.target-item {
	width:25%;
	padding:3em 3em 3em 5em;
	position: relative;
}
.target-item::before {
	content:'';
	display:block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	border-radius: 12px;
	border: 1px dashed #2DA7CD;
	transform: skewX(-10deg);
}
.target-letter {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 6.4rem;
	color: var(--blue);
	display:block;
	margin-bottom:0.5em;
	line-height: 0.8;
}
.w-10 {width:10%;}
.w-20 {width:20%;}
.w-30 {width:30%;}
.w-33 {width:33.3%;}
.w-40 {width:40%;}
.w-50 {width:50%;}
.w-60 {width:60%;}
.w-70 {width:70%;}
.w-80 {width:80%;}
.w-90 {width:90%;}
.w-100 {width:100%;}

.sertificat-slider .slide {
	padding:0 10px;
}
.sertificat-slider .slick-list {
	margin:0 -10px;
}
.sertificat-slider-arrows .prev-slide, .sertificat-slider-arrows .next-slide {
	margin:10px 0;
}
.sertificat-slider-arrows .prev-slide svg, .sertificat-slider-arrows .next-slide svg {
	color:#fff;
}
.sertificat__wrapper {
	margin:0 -20px;
}
.sertificat-item {
	padding: 0 20px;
	margin-bottom:30px;
}
.sertificat-img img {
	width:100%;
	height:100%;
}
.vertical-img {
	height:23.3rem;
}
.horisontal-img {
	height:17rem;
}
.sertificat-mobile-wrap {
	overflow: auto;
}
.sertificat-mobile-wrap::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 3px;
}
.sertificat-mobile-wrap::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 30px;
}
.sertificat-mobile-wrap::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #2DA7CD;
}
.sertificat-mobile-wrap::-webkit-resizer {
	background-repeat: no-repeat;
	width: 3px;
}
.sertificat-mobile-wrap::-webkit-scrollbar {
	width: 3px;
	height:7px;
}
.team-alt__wrapper .block-item {
	margin-bottom:20px;
}
.instagram-section {
	background: #F2F8FF;
}
.insta-sec-title {
	display:block;
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: #1F1F1F;
}
.insta-wrapper {
	margin: 5em -10px 0;
}
.insta-img {
	display:block;
}
.insta-img img {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 13px;
}
.insta-small-img {
	width:14rem;
	height:14rem;
}
.insta-middle-img {
	width:100%;
	height:33.6rem;
}
.insta-big-img {
	width:100%;
	height:79.7rem;
}
.insta-logo-wrap {
	background: #fff;
	padding:10px;
	border-radius: 32px;
}
.insta-bg-text {
	font-family: 'PF Regal Display Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 28.8rem;
	line-height: 0.7;
	text-transform: uppercase;
	color: rgba(146, 137, 127, 0.12);
	display:block;
	top:0.56em;
	left:50%;
	transform: translateX(-50%);
}
.insta-mobile-item {
	min-width:320px;
	height:250px;
	margin-right:20px;
}
.insta-mobile-item img {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 13px;
}
.insta-mobile__wrapper {
	margin-top:60px;
	overflow: auto;
}
.fancybox-close-small {
    display: none;
}
.seo-section p {
	font-size: 1.8rem;
	margin-bottom:1em;
}
.text-block h2, .text-block .h2 {
	margin-bottom:1em;
}
.marker-text {
	display:flex;
	align-items: flex-start;
}
.marker-text::before {
	content:'';
	display:block;
	min-width: 12px;
	height: 12px;
	border-radius: 50%;
	margin:0.4em 12px 0 0;
	background: #2DA7CD;
}
.service-acc {
	border-bottom: 2px dashed #2DA7CD;
}
.service-descript-acc {
	width:45%;
	background: #fff;
	border-radius: 10px;
}
.service-descript-total {
	width:53%;
	background: #fff;
	border-radius: 10px;
}
.service-descript-head {
	padding:2em 5em;
	border-bottom: 2px dashed #2DA7CD;
}
.service-descript-head .h3, .service-descript-head h3 {
	margin-bottom:0;
}
.service-acc__body {
	display:none;
}
.service__head {
	padding:2.3em 1.7em;
	border-bottom:1px solid rgba(0, 0, 0, 0.11);
	transition: 0.25s;
}
.service__head:hover {
	background: rgba(172, 193, 221, 0.29);
}
.service__head.active {
	background: rgba(172, 193, 221, 0.29);
	transition: 0.25s;
}
.service__head.active .service-acc-icon {
	transform: rotate(0deg);
	transition: 0.25s;
}
.service__head:hover {
	cursor: pointer;
}
.service__head-title {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	display:block;
}
.service__head__num {
	color:var(--blue);
	display: inline-block;
	margin-right:0.5em;
}
.service-acc-icon {
	background: #F3F3F3;
	min-width:4.2rem;
	height:4.2rem;
	border-radius: 50%;
	transform: rotate(-90deg);
	transition: 0.25s;
}
.service-acc-icon .icon {
	color:var(--blue);
}
.service-acc__body {
	background: rgba(172, 193, 221, 0.29);
}
.service-descr-list li {
	padding:1em 1em 1em 3em;
	border-bottom:1px solid rgba(0, 0, 0, 0.11);
	font-family: var(--font-arial);
	font-weight: normal;
	font-size: 1.8rem;
}
.marker-list li {
	display: flex;
	align-items: flex-start;
}
.marker-list li::before {
	content:'';
	display: block;
	min-width: 6px;
	height: 6px;
	background: #2DA7CD;
	border-radius: 50%;
	margin:0.6em 12px 0 0;
}
.service-descript-total__body {
	padding:2em;
}
.serv-descr__list li {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 1.3;
	display: flex;
	align-items: flex-start;
	margin-bottom:1em;
}
.serv-descr__list li .icon {
	margin-right:1em;
	min-width:3.6rem;
}
.why-we-alt__wrapper p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.why-we-alt__wrapper .block-item {
	padding:0 20px;
}
.why-we-alt__wrapper {
	margin:0 -20px;
}
.why-we-alt__wrapper .common-img {
	height:32.4rem;
}
.why-we-alt__wrapper .common-img img {
	height:100%;
	width:100%;
	object-fit: cover;
	border-radius: 13px;
}
.why-we-alt__wrapper:nth-child(2n+1) {
	flex-direction: row-reverse;
}
.why-we-alt__wrapper h3, .why-we-alt__wrapper .h3 {
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.price-block__img {
	width:45%;
}
.price-block__content {
	width:55%;
	padding:3em;
}
.price-block {
	border-radius: 10px;
	overflow: hidden;
}
.price-block__item p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	color:var(--blue);
	margin-bottom:1.5em;
}
.price-block__item span {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 3.6rem;
	color: #00439D;
	display:block;
}
.price-block__subtitle {
	font-family: var(--font-arial);
	font-size: 2.4rem;
	display:block;
	font-weight: bold;
	margin-bottom: 1em;
}
.price-block__list {
	font-size: 1.6rem;
	line-height: 1.5;
}
.price-block__img img {
	width:100%;
	border-radius: 13px
}
.price-block__img__text {
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 55%;
    height: 100%;
}
ol.how-order__list {
	list-style: auto;
	padding-left:1.2em;
}
.how-order__list li {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 1.5;
	text-transform: uppercase;
	color: #fff;
	margin-bottom:0.3em;
	position: relative;
	padding:1.2em 0;
}
.feedback-info.pad-0 {
	padding:0;
}
.feedback-info .h2 {
	margin-bottom:1em;
}
.how-order__list li::after {
	content:'';
	display:block;
	width:8.5rem;
	border-bottom: 2px dashed #2DA7CD;
	position: absolute;
	bottom:0;
	left:-1.2em;
}
.how-order__list li:last-child::after {
	display:none;
}
.order-section {
	overflow: hidden;
}
.order-section-wrapper {
    margin: 0 -10px;
}
.order-section-item {
    padding: 0 10px;
    width: 50%;
}
.order-section .fs-form__wrapper {
    width: 80%;
}
.btn--blue.light {
	background: #ACC1DD;
	border:1px solid #ACC1DD;
}
.btn--blue.light:hover {
	background: #fff;
	color: var(--text-color);
}
.case-filter a {
	font-family: var(--font-opensans);
	font-weight: bold;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #0D2055;
	margin:10px;
	padding:1em;
	border:1px solid var(--blue);
	border-radius: 10px;
}
.case-filter a:hover {
	background: var(--blue);
	color:#fff;
}
.case-filter a.active{
	background: var(--blue);
	color:#fff;
}
.flavor-nav a:hover, .flavor-nav a.current {
   	background: var(--blue);
	color:#fff;
    cursor: pointer;
}
/* Дополнительные стили для синего цвета */
.blue-text {
	color:#00439D;
}
.blue-bg, span.blue-bg {
	background: #00439D;
}
.marker-text.blue-dot::before {
	background:#00439D;
}
.marker-list.blue-dot li::before {
	background:#00439D;
}
/* Дополнительные стили для бирюзового цвета */
.turquoise-text {
	color:#144E60;
}
.turquoise-bg, span.turquoise-bg {
	background: #144E60;
}
.marker-text.turquoise-dot::before {
	background:#144E60;
}
.marker-list.turquoise-dot li::before {
	background:#144E60;
}
.target-item.result {
	padding:5em;;
}
.page__content {
	padding:0 10px;
	flex: 1;
}
.page__aside {
	width:594px;
	padding:0 10px;
}
.page__body {
	margin:0 -10px;
}
.page__content p {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 2.4rem;
	margin-bottom:1em;
}
.page__content h2, .page__content .h2 {
	margin-bottom:0.7em;
}
.case-aside {
	background:#fff;
	border-radius: 10px;
	padding: 1.5em 2.5em;
}
.case-aside-row {
	padding:1.5em 0;
	border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
.case-aside-row:last-child {
	border-bottom:none;
}
.case-aside-row span {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #8F8F8F;
	display:block;
}
.case-aside-row p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
}
.case-aside-row a {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color:var(--blue);
	margin-left:5px;
}
.case-aside-row a:hover {
	text-decoration: underline;
}
.result-block__item {
	border: 1px solid #2DA7CD;
	width:50rem;
	height:50rem;
	border-radius: 50%;
	position: relative;
	margin:0 -2em;
	background: #0a183d;
	padding:2em;
}
.result-block__item.overflow {
	overflow: hidden;
}
.result-block__item p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 2.8rem;
	color: #fff;
	margin-bottom:0.7em;
}
.result-block__item span {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 7.8rem;
	color: #fff;
	display: block;
}
.case-page-logo {
	height:8rem;
}
.case-page-logo img {
	height:100%;
	width:100%;
	object-fit: contain;
}
.about-leader {
	display: flex;
	overflow: hidden;
}
.about-leader__content {
	flex:0 0 100%;
	display: flex;
    align-items: center;
}
.about-leader__body {
	width:65%;
	padding: 3em 0;
}
.about-leader__image {
	flex:0 0 33%;
	transform: translate(-100%, 0);
	display: flex;
    align-items: center;
}
.about-leader__image img {
	width:100%;
	height: 100%;
    object-fit: cover;
}
.about-leader__video {
	width:28.8rem;
	height:28.8rem;
	flex:none;
}
.about-leader__video img {
	width:100%;
	height:100%;
	object-fit: cover;
	border-radius: 13px;
}
.about-leader__descript {
	width:auto;
	padding-left:3em;
}
.leader-name {
	display:block;
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
	color: #23292C;
	margin-bottom:1em;
}
.leader-post {
	display:block;
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.4rem;
	color: #23292C;
	margin-bottom:2em;
}
.about-leader__descript p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
}
.works {
	margin:0 -10px;
}
.task {
	width:42%;
}
.done-task {
	width:56%;
}
.works .h2, .works h2 {
	margin-bottom:1em;
}
.task-body {
	background: #fff;
	border-radius: 10px;
	padding:2em;
}
.task-list li {
	padding:1.5em 0;
	border-bottom: 2px dashed #2DA7CD;
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	line-height: 1.3;
	color: #23292C;
	display:flex;
	min-height: 5.2em;
}
.task-list li:first-child {
	border-top: 2px dashed #2DA7CD;
}
.task-list li:last-child {
	border-bottom:none;
}
.task-list .icon {
	margin-right:15px;
	flex: none;
}
.done-task .task-list li {
	align-items: center;
}
.num-list {
    counter-reset: list;
}
.num-list li::before {
    display: inline-block;
    counter-increment: list;
    content: counter(list)".";
    color: red;
    font-size: 1.8rem;
    margin-right:10px;
    color:#2DA7CD;
}
.visual__wrapper {
	margin:0 -10px;
}
.visual__item {
	padding: 0 10px;
	margin-bottom:20px;
}
.visual__item.half {
	width:50%;
}
.visual__item__content {
	border-radius: 13px;
	border:2px solid var(--blue);
}
.visual__item__content img {
	border-radius: 10px;
	height: 100%;
	width:100%;
    object-fit: contain;
}
.common-section p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	margin-bottom:1em;
}
.common-section h3, .common-section .h3 {
	font-weight: bold;
}
.subscribe {
	padding:4.2em 3em;
	background: #0D2055;
	border-radius: 10px;
}
.subscribe p {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #FFFFFF;
	margin-bottom:2.5em;
}
.subscribe .h4 {
	font-weight: bold;
	margin-bottom: 1.5em;
}
.subscribe .btn {
	color:#fff;
	border:1px solid #fff;
}
.popular-articles__item {
	padding-bottom:1.7em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.21);
	margin-bottom:2em;
}
.popular-articles__item:last-child {
	margin-bottom:0;
}
.popular-article__title, .popular-article__type {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #23292C;
	display:block;
	margin-bottom:0.7em;
	line-height: 1.3;
}
.popular-article__type {
	display: inline-block;
}
.popular-article__title:hover {
	color:var(--blue);
}
.popular-article__type {
	color:var(--blue);
}
.popular-article__type:hover {
	text-decoration: underline;
}
.popular-articles__item p {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #23292C;
}
.popular-articles {
	background: #fff;
	padding:3em;
	border-radius: 10px;
	margin-bottom: 20px;
}
.popular-articles .h4 {
	font-weight: bold;
}
.pagination a.prev-page, .pagination a.next-page {
	display: flex;
	align-items: center;
	justify-content: center;
	border:1px solid var(--blue);
	border-radius: 50%;
	width: 45px;
	height: 45px;
	background: transparent;
}
.pagination a {
	min-width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	font-size: 1.6rem;
	border-radius: 3px;
	margin: 5px 7px;
}
.pagination a:hover {
	background: var(--blue);
	color:#fff;
}
.pagination a:hover .select-arrow-icon {
	color:#fff;
}
.blog-bottom-row {
	margin:1em -10px 0;
}
.pagination-arrow .select-arrow-icon {
	color: var(--blue);
	width: 16px;
    height: 10px;
}
.prev-page .select-arrow-icon {
    transform: rotate(90deg); 
}
.next-page .select-arrow-icon {
    transform: rotate(-90deg); 
}
.article__head h1 {
	font-size: 4.8rem;
	margin-bottom:0.5em;
}
.article h2, .article h3, .article h4 {
	text-transform: uppercase;
}
.article__head .breadcrumb li {
    color:#fff;
}
.article__head .breadcrumb li:not(:last-child)::after {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.article__head p {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #fff;
	width:60%;
}
.article__head .blog-card-row {
	margin-top:8em;
}
.article__head .blog-card-info {
	margin-right:2em;
}
.article__head .blog-card-info p {
    font-size: 12px;
    width:auto;
}
.first-screen-article {
	padding:13em  0 3em;
	height: auto;
}
.article__head .icon {
	color:#fff;
}
.article-bottom-row {
	padding:2em 0;
	border-top: 1px solid rgba(0, 0, 0, 0.17);
	flex-wrap: wrap;
}
.article-bottom-item {
	margin-right: 2em;
}
.article p {
    font-family: var(--font-arial);
    font-style: normal;
    font-weight: normal;
    font-size:1.8rem;
    margin-bottom: 1em;
}
.article ul, .article ol {
    padding-left: 20px;
    margin-bottom: 2em;
}
.article ul li, .article ol li {
	font-family: var(--font-arial);
    margin-bottom: 1em;
    line-height: 1.3;
    font-size:1.8rem;
}
.article ul li:last-child, .article ol li:last-child {
    margin-bottom: 0;
}
.article a:hover {
    text-decoration: none;
}
.article a {
    color: var(--blue);
    text-decoration: underline;
}
blockquote {
	font-family: var(--font-arial);
    font-style:italic;
    font-weight: normal;
    font-size:1.8rem;
    margin-bottom: 2em;
    color: #6C6C6C;
    padding:1em 0 1em 1em;
    border-left:2px solid var(--blue);
    line-height: 1.5;
}
.article h1, .article .h1, .article h2, .article .h2, .article h3, .article .h3 {
	font-weight: bold;
}
.article .raiting-stars li, .raiting-stars li  {
	margin:0 5px 0 0;
}
.article .raiting ul  {
	padding:0;
}
.article-bottom-item p, .raiting ul {
	margin:0 10px 0 0;
}
.article-bottom-num {
	color:var(--blue);
}
.star-icon.active {
	color:#FFA901;
}
.section.pb-0 {
	padding-bottom:0;
}
.section-head p {
	margin-top:1em;
	margin-right:5px;
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #999999;
}
.section-head p span {
	color: var(--text-color);
}
.comments .section-head {
	margin-bottom:3em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.coment-time {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	color: #A0A0A0;
	display:block;
	margin-right:1em;
}
.comment-head {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.comment p {
	font-family:var(--font-arial);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
}
.comment-autor {
	font-weight: bold;
	font-size: 1.8rem;
	display:block;
}
.comment-bottom-row {
	padding-top: 1.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1.5em;
}
.comment-answer-link {
	margin-left:2em;
	color:var(--blue);
	font-size: 1.8rem;
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
}
.comment-like span {
	font-size: 1.8rem;
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: normal;
	display:block;
	margin:0 10px;
}

.coment-answer {
	margin-top:3em;
	padding: 2em;
	margin-left: 4em;
}
.leave-comment {
	background: #0A173D;
}
.leave-comment-title {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: bold;
	font-size: 2.4rem;
	color: #FFFFFF;
	display:block;
	margin-bottom:1em;
}
.leave-comment p {
	font-family: var(--font-opensans);
	font-style: italic;
	font-weight: normal;
	font-size: 1.8rem;
	color: #FFFFFF;
	margin-bottom:2em;
}
.leave-comment p span {
	color:red;
}
.comment-form {
	width:50%;
}
.comment-form .form--btn {
	color:#fff;
}
.comment-form textarea.input {
    height: 15rem;
}
.facebook-widget {
	margin-bottom:30px;
}
.contacts-info {
	width:33%;
}
.contacts-form__wrapper {
	width:65%;
}
.contacts-form__wrapper textarea.input {
    height: 15rem;
}
.contacts-info__item h4, .contacts-info__item .h4 {
	font-weight: bold;
}
.contacts-info__item .contact-row a:hover {
    color: var(--blue);
}
.contacts-info__item .contact-row a{
    color: var(--text-color);
}
.contacts-info__item .phone-row a {
    padding: 0 15px;
    border-right: 1px solid var(--text-color);
}
.contacts-info__item .phone-row a:last-child {
    border-right:none;
}
.contacts-info__item .icon {
	color:var(--blue);
	width:23px;
	height:18px;
}
.contacts-info__item .contact-row .icon {
    display: block;
}
.skype-text {
	color:#9f9f9f;
	display:inline-block;
	margin-right:5px;
}
.phone-row a:first-child {
    padding: 0 15px 0 0;
}
.contacts-info__item__subtitle {
	font-family: var(--font-arial);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	color: #23292C;
	display:block;
}
.contacts-info__item .social li a .icon {
    color: #B2BECF;
}
.contacts-info__item .social li a {
    border: 1px solid #B2BECF;
}
.contacts-info__item .social li a:hover .icon {
    color: var(--blue);
}
.contacts-info__item .social li a:hover {
    border: 1px solid var(--blue);
}
.map__wrapper iframe {
	height:55rem;
	width:100%;
}
.category__row.mb-5 {
	margin: 0 -1em 50px;
}
.client-site {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: bold;
	font-size: 1.8rem;
	color: #7D7D7D;
	display:block;
	text-align: center;
	margin-bottom:1em;
}
.client-site a {
	color:var(--blue);
}
.client-descript {
	font-family: var(--font-opensans);
	font-style: normal;
	font-weight: normal;
	font-size: 1.8rem;
	text-align: center;
	margin:2em 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.client-info .btn--blue {
    min-width:0;
    margin-bottom:30px;
}
.client-bg::before {
	content:'';
	display:block;
	background:#fff;
	border-radius: 18px;
	box-shadow: 4px 6px 60px 1px rgba(0, 0, 0, 0.1);
	width:97%;
	height: 97%;
	position: absolute;
	top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
	opacity: 0;
	transition: 0.25s;
}
.client-item:hover::before {
	opacity: 1;
	transition: 0.25s;
}
.first-screen .breadcrumb li {
    color:#fff;
}
.first-screen .breadcrumb li:not(:last-child)::after {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.page-list {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.page-list-nav li a {
	font-size: 1.6rem;
	color: var(--blue);
	display: block;
	padding: 0.5em;
	text-align: center;
}
.page-list-nav li a:hover {
	opacity: 0.5;
}
.team__wrapper__col {
	min-width:300px;
	margin-right:20px;
}
.team__wrapper__mobile {
	overflow: auto;
	padding-bottom: 10px;
}
.team__wrapper__mobile::-webkit-scrollbar-button {
	background-repeat: no-repeat;
	width: 3px;
}
.team__wrapper__mobile::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 30px;
}
.team__wrapper__mobile::-webkit-scrollbar-thumb {
	-webkit-border-radius: 15px;
	border-radius: 15px;
	background-color: #2DA7CD;
}
.team__wrapper__mobile::-webkit-resizer {
	background-repeat: no-repeat;
	width: 3px;
}
.team__wrapper__mobile::-webkit-scrollbar {
	width: 3px;
	height:7px;
}
/* ===== Custom Styles END =====*/
